    body {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    
    div {
        padding: 10px
    }
    
    a {
        margin: 3px;
    }
    
    button {
        margin: 3px;
    }
    
    h1 {
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        width: 160px;
        text-align: center;
        margin: auto;
        white-space: nowrap;
        padding-bottom: 13px;
        margin: 3px;
    }
    
    h1:before {
        background-color: #c50000;
        content: '';
        display: block;
        height: 3px;
        width: 75px;
        margin-bottom: 5px;
    }
    
    h1:after {
        background-color: #c50000;
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 3px;
        width: 75px;
        margin-bottom: 0.25em;
    }
    
    form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    label {
        flex: 0;
        text-align: left;
    }
    
    input {
        flex: 1;
        width: 300px;
    }
    
    .wi {
        width: 100px;
    }
    
    div {
        padding: 30px;
    }