<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="rounded border border-primary">
        <h1>All Students</h1>
        <ul class="list-group">
            <% for(let s of students) {%>

                <a href="/student/<%=s._id%>" class="list-group-item list-group-item-action">
                    <%=s.name%>
                </a>
                <% } %>
        </ul>
        <a href="/student/new"><button class="btn btn-outline-primary">New student</button></a>
    </div>
</body>

</html>